{% extends 'home/index.html' %}

{% block message_packet_description %}
    <p>
        This is a message_packet that lists your available chats that can be
        used for pretraining. To register chats, go to WhatsApp, export
        your chat data, and then send it to your email folder.
    </p>
{% endblock message_packet_description %}

{% block attachments %}

<div class="row">
  <div class="column">
      {% for message_id, message_display_data in message_packets.items() %}
        <p><b>{{ message_id }}</b></p>
            <p>
                <b>Authors in chat: {{ message_display_data.authors_in_chat }} - Is this correct?</b>
                If not, you can manually set the authors.
            </p>
        <p>{{ message_display_data.display_text }}</p>
            <!-- These buttons will allow us to download, pretrain and upload to google cloud-->
        <form method="post">
        <input type="submit" name="{{ message_display_data.button_name }}" value="{{ message_display_data.button_value }}">
        <input type="submit" name="Pretrain button" value="{{ message_display_data.button_value }}">
        </form>
      {% endfor %}
  </div>
  <div class="column">
      <p> This is a text preview </p>.
      {{ preview_table|safe }}
  </div>
</div>

{% endblock attachments %}
