{% extends 'layouts/base_template.html' %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}

{% block content %}
Welcome {{ name }}.


{% block emailstate %}
{% endblock emailstate %}


{% block loginstate %}
You are currently logged into the gmail api.
Here are the emails of recorded chats we have:
{% endblock loginstate %}


{% block attachments %}
{% endblock attachments %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}
