{% extends 'layouts/base_template.html' %}

{% block content %}


<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

<script src="{{url_for('static', filename='js/uploader.js')}}"></script>

<form action="/file-upload" class="dropzone" id="my-awesome-dropzone">
  <div class="dz-message">
    <p>Drop files here or click to upload.</p>
  </div>
  <input type="file" name="file" multiple>
</form>

<p>Hi</p>
{% endblock %}