{% extends 'layouts/base_template.html' %}

{% block content %}
  <div class="column">
    <b>You are currently harvesting </b>
      <div class="box">
          Here are email labels that you have recorded with this email. To harvest attachments, click
          {% for label in available_email_labels %}
          <ul>
              <li>{{ label.name }}: <a href="{{ url_for('retrieve_emails_from_label', label=label['id']) }}">Tap to retrieve
                  attachments</a></li>
          </ul>
          {% endfor %}
      </div>
  </div>
{% endblock %}
